:root {
  /* TEXT */
  --main-txt-color: #2c2c2c;
  --accent-txt-color: #7eb101;
  /* Fonts */
  --main-font: Roboto, sans-serif;

  /* Colors */
  --bg-color: #ffe550;
  --accent-bg-color: #bbf330;
  --black-color: #000000;

    /* Others */
    --indent: 32px;
    --items: 31;
    --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
