<section class="сustomers container">
  <div class="сustomers__container">
    <h2 class="customers__title customers__title-position">
      What our Customers Say
    </h2>
    <p class="customers__sub-title customers__sub-title-position">
      Lorem ipsm dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="customers__stars-container">
      <div class="customers__stars">
        <ul class="customers__stars-list">
          <li class="customers__stars-item">
            <svg width="16px" height="17px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="16px" height="17px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__text customers__text-position">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__user">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/сustomers-say/ellipse11@1x.png 1x,
                ./images/сustomers-say/ellipse11@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/сustomers-say/ellipse11@1x.png 1x,
                ./images/сustomers-say/ellipse11@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/сustomers-say/ellipse11@1x.png 1x,
                ./images/сustomers-say/ellipse11@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="customers__user-img"
              src="./images/сustomers-say/ellipse11.jpg"
              alt="customers__user"
            />
          </picture>
          <div class="customers__user-position">
            <h3 class="customers__user-name">Sumith Shah</h3>
            <p class="customers__user-dude">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="customers__stars">
        <ul class="customers__stars-list">
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__stars-item">
            <svg width="17px" height="16px">
              <use href="./images/icons.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__text customers__text-position">
          “The ease with which I can just go in and order what i want was&nbsp;
          amazing, It has been a pleasant experience ordering from this app”
        </p>
        <div class="customers__user">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/сustomers-say/ellipse12@1x.png 1x,
                ./images/сustomers-say/ellipse12@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/сustomers-say/ellipse12@1x.png 1x,
                ./images/сustomers-say/ellipse12@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/сustomers-say/ellipse12@1x.png 1x,
                ./images/сustomers-say/ellipse12@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="customers__user-img"
              src="./images/сustomers-say/ellipse12.jpg"
              alt="customers__user"
            />
          </picture>
          <div class="customers__user-position">
            <h3 class="customers__user-name">Sumith Shah</h3>
            <p class="customers__user-dude">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/subscribe/pngwing1280@1x.png 1x,
          ./images/subscribe/pngwing1280@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/subscribe/pngwing768@1x.png 1x,
          ./images/subscribe/pngwing768@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/subscribe/pngwing320@1x.png 1x,
          ./images/subscribe/pngwing320@2x.png 2x
        "
        type="image/png"
      />

      <img
        class="сustomers__img"
        src="./images/subscribe/pngwing.png"
        alt="subscribe-img"
      />
    </picture>
  </div>
</section>
