<section class="section" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                      ./images/favorites/gamburger@1x_lg.png 1x,
                      ./images/favorites/gamburger@2x_lg.png 2x
                    " />

            <source media="(min-width: 768px)" srcset="
                       ./images/favorites/gamburger@1x_md.png 1x,
                       ./images/favorites/gamburger@2x_md.png 2x
                    " />

            <source media="(max-width: 767px)" srcset="
                      ./images/favorites/gamburger@1x_sm.png 1x,
                      ./images/favorites/gamburger@2x_sm.png 2x
                    " />
            <img class="favorites__img" src="./images/favorites/gamburger@1x_sm.png" alt="gamburger" />
          </picture>
        </div>


      </li>
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                      ./images/favorites/pasta@1x_lg.png 1x,
                      ./images/favorites/pasta@2x_lg.png 2x
                    " />

            <source media="(min-width: 768px)" srcset="
                       ./images/favorites/pasta@1x_md.png 1x,
                       ./images/favorites/pasta@2x_md.png 2x
                    " />

            <source media="(max-width: 767px)" srcset="
                      ./images/favorites/pasta@1x_sm.png 1x,
                      ./images/favorites/pasta@2x_sm.png 2x
                    " />
            <img class="favorites__img" src="./images/favorites/pasta@1x_sm.png" alt="pasta" />
          </picture>
        </div>


      </li>
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                      ./images/favorites/pizza@1x_lg.png 1x,
                      ./images/favorites/pizza@2x_lg.png 2x
                    " />

            <source media="(min-width: 768px)" srcset="
                       ./images/favorites/pizza@1x_md.png 1x,
                       ./images/favorites/pizza@2x_md.png 2x
                    " />

            <source media="(max-width: 767px)" srcset="
                      ./images/favorites/pizza@1x_sm.png 1x,
                      ./images/favorites/pizza@2x_sm.png 2x
                    " />
            <img class="favorites__img" src="./images/favorites/pizza@1x_sm.png" alt="pizza" />
          </picture>
        </div>


      </li>
      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                                ./images/favorites/chicken@1x_lg.png 1x,
                                ./images/favorites/chicken@2x_lg.png 2x
                              " />

            <source media="(min-width: 768px)" srcset="
                                 ./images/favorites/chicken@1x_md.png 1x,
                                 ./images/favorites/chicken@2x_md.png 2x
                              " />

            <!-- <source media="(max-width: 767px)" srcset="
                                ./images/favorites/chicken@1x_md.png 1x,
                                ./images/favorites/chicken@2x_md.png 2x
                              " />-->
            <img class="favorites__img" src="./images/favorites/chicken@1x_md.png" alt="chicken" />
          </picture>
        </div>


      </li>
      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                      ./images/favorites/salat@1x_lg.png 1x,
                      ./images/favorites/gamburger@2x_lg.png 2x
                    " />

            <source media="(min-width: 768px)" srcset="
                       ./images/favorites/salat@1x_md.png 1x,
                       ./images/favorites/salat@2x_md.png 2x
                    " />

            <!-- <source media="(max-width: 767px)" srcset="
                      ./images/favorites/salat@1x_sm.png 1x,
                      ./images/favorites/salat@2x_sm.png 2x
                    " />-->
            <img class="favorites__img" src="./images/favorites/salat@1x_md.png" alt="salat" />
          </picture>
        </div>


      </li>

      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                      ./images/favorites/borshch@1x_lg.png 1x,
                      ./images/favorites/borshch@2x_lg.png 2x
                    " />

            <source media="(min-width: 768px)" srcset="
                       ./images/favorites/borshch@1x_md.png 1x,
                       ./images/favorites/borshch@2x_md.png 2x
                    " />

            <!--  <source media="(max-width: 767px)" srcset="
                      ./images/favorites/borshch@1x_sm.png 1x,
                      ./images/favorites/borshch@2x_sm.png 2x
                    " />-->
            <img class="favorites__img" src="./images/favorites/borshch@1x_md.png" alt="borshch" />
          </picture>
        </div>


      </li>




    </ul>
  </div>
</section>