<header class="header">
  <div class="container header__container">
    <!-- логотип -->
    <a class="logo header__logo" href="./index.html">
      <svg class="logo__icon" width="66" height="52">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <!-- навігація сайту -->
    <nav class="navigation header__navigation">
      <ul class="navigation__list">
        <li class="navigation__item">

          <a class="navigation__link navigation__link--current" href="#hero">Home</a>

        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#offerings">About</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#favorites">Service</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#custumer">Menu</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#subscribe">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- кнопка замовлення -->
    <button
      class="button header__button button--green"
      type="button"
      data-modal-open
    >
      Order Now
    </button>

    <!-- кнопка мобільного меню -->
    <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle__icon" width="28" height="28">
        <use href="./images/icons.svg#toggle-menu"></use>
      </svg>
    </button>
  </div>
</header>
