<section class="hero ">
    <div class="container hero-container">
        <div class="hero-information">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero-btn" type="button">Order Now</button>
    </div>

    <div class="slider">
        <picture class="slider-item__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero-img/slider-img@1x_lg.png 1x,
                ./images/hero-img/slider-img@2x_lg.png 2x
              "
            />
    
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero-img/slider-img_@1x_md.png 1x,
                ./images/hero-img/slider-img_@2x_md.png 2x
              "
            />
    
    
            <img
              class=""
              src="./images/hero-img/slider-img_@1x_md.png"
              alt=""
            />
          </picture>
    </div>
    </div>
    
  </section>
  
  <section class="section offerings">
    <div class="container offerings-container">
        
        <div class="apple">
      <div class="apple-container">
        <picture class="apple-item__img">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hero-img/apple@1x_lg.png 1x,
              ./images/hero-img/apple@2x_lg.png 2x
            "
          />
  
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero-img/apple-1@1x_md.png 1x,
              ./images/hero-img/apple-1@2x_md.png 2x
            "
          />
  
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero-img/aple@1x_sm.png 1x,
              ./images/hero-img/aple@2x_sm.png 2x
            "
          />
  
          <img
            class=""
            src="./images/hero-img/aple@1x_sm.png"
            alt=""
          />
        </picture>
        <div class="radial-gradient">
        </div>
      </div>
<div class="apple-container--tablet">
    <picture>

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-img/apple-2@1x_md.png 1x,
            ./images/hero-img/apple-2@2x_md.png 2x
          "
        />

        <img
          class=""
          src="./images/hero-img/apple-2@1x_md.png"
          alt=""
        />
    </picture>
        <picture>

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero-img/apple-3@1x_md.png 1x,
                ./images/hero-img/apple-3@2x_md.png 2x
              "
            />
    
            <img
              class=""
              src="./images/hero-img/apple-3@1x_md.png"
              alt=""
            />


        </picture>
</div>

    </div>
    <div class="about-offerings">
    <div class="special">
      <h1 class="offerings-titles">Whats Special About Our Offerings</h1>
      <p class="offerings-text--main">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
      <ul class="our-advantages">
        <li>
          <a class="offerings-link" href="">
            <svg class="" width="32" height="32">
              <use href="./images/icons.svg#icon-hero-svg1"></use>
            </svg>
          </a>
  
          <h2 class="secondary-titles">Fasest Delivery</h2>
          <p class="offerings-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li>
          <a class="offerings-link" href="">
            <svg class="" width="32" height="32">
              <use href="./images/icons.svg#icon-hero-svg2"></use>
            </svg>
          </a>
          <h2 class="secondary-titles">Easy to order</h2>
          <p class="offerings-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <ul class="offerings-btn-list">
        <li>
          <button class="offerings-btn offerings-btn--white" type="button">
            Order Now
          </button>
        </li>
        <li>
          <button class="offerings-btn offerings-btn--no-color" type="button">
            Read More
            <svg class="offerings-btn__cvg" width="14" height="14">
              <use href="./images/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    </div>
  </section>
  