<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button class="btn-close mobile-menu__btn-close js-close-menu">
    <svg class="btn-close__icon" width="24" height="24">
      <use href="./images/icons.svg#mobile-menu-btn-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu__nav">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link--current" href="#hero">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#offerings">About</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#favorites">Service</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#custumer">Menu</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#subscribe">Contact</a>
    </li>
  </ul>
</div>
