.header {
  &__logo {
    margin-right: auto;
  }

  &__navigation {
    margin-right: 28px;
  }

  &__button {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.header__container {
  display: flex;

  align-items: center;

  padding: 0 20px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
