ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  
    object-position: center;
    object-fit: cover;
  }
  
  .section {
    margin-left: auto;
    margin-right: auto;
  
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-right: 32px;
      padding-left: 32px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding-right: 16px;
      padding-left: 16px;
    }
  }
  
  .hero__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
  
    color: var(--main-txt-color);
    margin-bottom: 28px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 44px;
      font-size: 42px;
      line-height: 120%;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 48px;
      line-height: 120%;
    }
  }
  
  .hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    color: var(--main-txt-color);
  
    margin-right: 14px;
    margin-left: auto;
  
    margin-bottom: 28px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 150%;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 150%;
    }
  }
  
  .hero-btn {
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: var(--main-txt-color);
  
    min-height: 32px;
    min-width: 100px;
    padding: 6px 17px;
    background-color: #bbf330;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .apple-container {
    position: relative;
  
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;
  
    border: 9px solid #ffe550;
    outline: 3px solid rgba(255, 255, 255, 0.5);
    background-color: #fefefe;
  
    
  
  
  &:active{
    border: 9px solid var(--accent-bg-color);
  }
  
    @media screen and (min-width: 768px) {
      width: 325.84px;
      height: 325.84px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 550px;
      height: 550px;
    }
  }
  
  
  .radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
  filter: blur(13.2364px);
  
  width: 128px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 185px;
  }
  
  
  .apple-item__img {
    position: absolute;
    left: 11%;
    bottom: 16%;
    margin-left: auto;
    margin-right: auto;
  }
  .offerings {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  
    @media screen and (max-width: 767px) {
      background-image: url(../images/hero-img/mobile-bg@1x_sm.png);
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-img/mobile-bg@2x_sm.png);
      }
      background-size: cover;
    }
  
    @media screen and (min-width: 768px) {
      background-image: url(../images/hero-img/bg-tablet@1x.png);
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-img/bg-tablet@2x.png);
      }
      background-size: cover;
    }
  
    @media screen and (min-width: 1200px) {
      background-image: url(../images/hero-img/desktop-bg@1x.png);
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-img/desktop-bg@2x.png);
      }
      max-width: 1600px;
    }
  }
  
  .offerings-titles {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    color: var(--main-txt-color);
    margin-bottom: 28px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 44px;
      font-size: 42px;
      line-height: 120%;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 48px;
      line-height: 120%;
    }
  }
  
  .offerings-text {
    font-size: 14px;
    line-height: 1.1;
    color: var(--main-txt-color);
  
    margin-bottom: 28px;
  
    text-align: left;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 1.2;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 150%;
    }
  }
  
  .secondary-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
    text-align: left;
  
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.2;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 150%;
    }
    color: var(--main-txt-color);
  }
  
  .offerings-link {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .offerings-btn-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .offerings-btn {
    border: none;
    border-radius: 30px;
    min-height: 40px;
    min-width: 130px;
  
    margin-right: auto;
    margin-left: auto;
  
    font-size: 14px;
    line-height: 150%;
    color: var(--black-color);
  
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &--white {
      background-color: #fefefe;
      border: 2px solid #7eb101;
    }
  
    &--no-color {
      border: none;
      background-color: var(--bg-color);
    }
  }
  
  .offerings-btn__cvg {
    margin-left: 4px;
  }
  